* {
  margin: 0;
  padding: 0;
  border-sizing: border-box;
}

html {
  font-size: 62.5%;
  /*overflow-x: hidden;*/
}

body {
  color: #ded6d6; /* remove all duplicates of that style elsewhere */
  font-family: Rubik, sans-serif;
  font-weight: 400;
  line-height: 1;
  /*background-image: url(img/red-blue-background.jpg);*/
  /*background-size: cover;*/
  background: linear-gradient(
    45deg,
    #060649,
    #640348,
    #060649,
    #640348,
    #060649,
    #640348
  );
  /*overflow-x: hidden;*/
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 2.4rem;
}

.grid-2-cols {
  grid-template-columns: 2fr 1fr;
}

.grid-2-cols-2-rows {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  row-gap: 0.8rem;
  align-items: center;
  justify-items: start;
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #ded6d6;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  /*margin-bottom: 9.6rem;*/
}

.heading-tertiary {
  font-size: 3.6rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.btn,
.btn:link,
.btn:visited {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s;
  cursor: pointer;
  border: none;
}

.btn-full:link,
.btn-full:visited {
  background-color: #ff4500ff;
}

.btn-full:hover,
.btn-full:active {
  background-color: #dc4b05;
}

.btn-outline:link,
.btn-outline:visited {
  border: 3px solid #ff4500ff;
  padding: 1.3rem 2.9rem;
}

.btn-outline:hover,
.btn-outline:active {
  color: #ff4500ff;
}

.margin-bottom {
  margin-bottom: 0.2rem;
}

/*img {*/
/*    width: 100%;*/
/*}*/

hr {
  opacity: 30%;
  margin-bottom: 2.4rem;
}
/*/////////////////////////////////////////////////////*/
/* MODAL STUFF */

.modal-container {
  display: none;
  position: fixed; /* annoying bug - changed from absolute to fixed*/
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Can show or hide scroll*/
  backdrop-filter: blur(15px);
  /*backdrop-filter: grayscale(80%);*/
  justify-content: center;
  align-items: center;
  /*-webkit-transform-origin: 2000px 2000px;*/
  -webkit-animation: pop-in 0.5s;
  -moz-animation: pop-in 0.5s;
  -ms-animation: pop-in 0.5s;
}
@-webkit-keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes pop-in {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-close {
  color: goldenrod;
  /*display: block;*/
  /*float: right;*/
  font-size: 3.2rem;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  /*transform: translate(-150%, 25%);*/
}

.modal-close:hover,
.modal-close:focus {
  color: #ff4500ff;
  text-decoration: none;
  cursor: pointer;
}

.flip-container {
  width: 100rem;
  height: 55rem;
  perspective: 1000px;
  /*border: 3px solid green;*/
}

.flip-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  /*border: 3px solid red;*/
  position: relative;
  /*-webkit-animation: rotate-3d 1s ease 0.5s forwards;*/
}

.is-flipped {
  transform: rotateY(180deg);
}

/*@keyframes rotate-3d {*/
/*  0% {*/
/*    transform: rotate3d(0, 1, 0, -1deg);*/
/*  }*/
/*  20% {*/
/*    transform: rotate3d(0, 1, 0, 1deg);*/
/*  }*/
/*  40% {*/
/*    transform: rotate3d(0, 1, 0, -0.5deg);*/
/*  }*/
/*  60% {*/
/*    transform: rotate3d(0, 1, 0, 0.5deg);*/
/*  }*/
/*  80% {*/
/*    transform: rotate3d(0, 1, 0, -0.3deg);*/
/*  }*/
/*  85% {*/
/*    transform: rotate3d(0, 1, 0, 0.3deg);*/
/*  }*/
/*  90% {*/
/*    transform: rotate3d(0, 1, 0, -0.1deg);*/
/*  }*/
/*  95% {*/
/*    transform: rotate3d(0, 1, 0, 0.1deg);*/
/*  }*/
/*  97% {*/
/*    transform: rotate3d(0, 1, 0, -0.05deg);*/
/*  }*/
/*  99% {*/
/*    transform: rotate3d(0, 1, 0, 0.05deg);*/
/*  }*/
/*  100% {*/
/*    transform: rotate3d(0, 1, 0, 0deg);*/
/*  }*/
/*}*/
