.creators-section {
  padding: 0 0 9.6rem 0;
}

.creators-heading-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8rem;
}

.grid-creators {
  height: 40rem;
}

.creator-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  /*border: 3px solid red;*/
  /*height: 65%;*/
  background: linear-gradient(113.49deg, #c73d54 -30.3%, #16256b 58.12%);
  /*backdrop-filter: blur(1px);*/
  position: relative;
}
.creator-card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 0 6.4rem goldenrod;
}

.creator-banner {
  width: 100%;
  height: 40%;
  object-fit: cover;
  /*border-radius: 11px;*/
}

.creator-img {
  width: 25%;
  border: 2px solid #e3590f;
  border-radius: 10%;
  /*background-color: #fff;*/
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.creator-info {
  /*padding: 3.2rem 4.8rem 4.8rem 4.8rem;*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /*align-items: center;*/
  justify-items: center;
  padding: 2.4rem;
  margin-top: 2.4rem;
}

.creator-name {
  grid-column: 1 / -1;
  font-size: 2.4rem;
  color: #ded6d6;
  font-weight: 600;
}

.creator-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.6rem;
  color: #ded6d6;
}

.creator-stat p:nth-child(2) {
  font-size: 2rem;
  font-weight: 500;
  color: goldenrod;
}

.btn-creator {
  background-color: #ff4500ff;
  /*background: linear-gradient(45deg, #ea4c0a, #5252d9);*/
  font-size: 1.6rem;
  padding: 0.8rem 1.2rem;
  width: 75%;
}

.btn-creator:hover,
.btn-creator:active {
  background-color: #dc4b05;
}
