.procedure-section {
  /*padding: 0 0 9.6rem 0;*/
  padding: 4.8rem 0;
  /*margin-bottom: 2.4rem;*/
  /*background-image: url("img/map-g165894aa7_640.png");*/
  /*background-size: cover;*/
  backdrop-filter: contrast(80%);
  /*position: relative;*/
}

/*.procedure-section:before {*/
/*  background: url(img/treasure-map-g92be65d30_1280.png);*/
/*  content: "";*/
/*  z-index: 10;*/
/*  position: absolute;*/
/*  opacity: 0.05;*/
/*  top: 0;*/
/*  bottom: 10rem;*/
/*  left: 0;*/
/*  right: 0;*/
/*  background-size: 200rem;*/
/*}*/

.procedure-heading {
  display: block;
  text-align: center;
  /*padding: 2.4rem 0;*/
  margin-bottom: 4.8rem;
}

/*.procedure-container {*/
/*  display: flex;*/
/*  gap: 2.4rem;*/
/*}*/

/* Add animation for each box when reaching viewport*/
.procedure-step {
  border: 1px solid darkgoldenrod;
  border-radius: 11px;
  box-shadow: 0 0 9.6rem 0.8rem goldenrod;
  background: linear-gradient(113.49deg, #640348 -30.3%, #060649 58.12%);
  text-align: center;
  padding: 1.6rem;
}

.step-icon {
  color: blue;
  backdrop-filter: blur(8px);
  color: darkgoldenrod; /*or goldenrod*/
  border-radius: 50%;
  height: 3.2rem;
  width: 3.2rem;
  padding: 1.6rem;
  margin-bottom: 3.2rem; /* or 2.4rem*/
}

.step-title {
  font-size: 2.4rem;
  color: #ded6d6;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
