.header {
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-container {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.brand-logo {
  color: #f5671b;
  height: 3.2rem;
  width: 3.2rem;
  pointer-events: none;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-cta {
  display: flex;
  gap: 1.6rem;
}

.btn-login,
.btn-signup,
.main-nav-link:link,
.main-nav-link:visited {
  color: #fff;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
  border: none;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #ff4500ff;
  cursor: pointer;
}

.btn-login.nav-cta,
.btn-signup.nav-cta,
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: #ff4500ff;
  border-radius: 9px;
  padding: 1.2rem 2.4rem;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #dc4b05;
  color: #fff;
}

/******************************************************************************/

/* STICKY NAVIGATION */
/* Had to switch to sticky from fixed as it was buggy and not recommended!*/
.sticky .header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(6, 6, 73, 0.8);
  box-shadow: 0 0 1.6rem rgba(6, 6, 73, 0.2);
}
