.nfts-section {
  padding: 4.8rem 0;
}

.nfts-heading-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8rem;
}

.nfts-grid {
  height: 50rem;
}

.nft-card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  background: linear-gradient(113.49deg, #c73d54 -30.3%, #16256b 58.12%);
}

.nft-card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 0 4.8rem goldenrod;
}

.nft-img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.nft-info {
  padding: 2.4rem;
}

.nft-name {
  font-size: 2.4rem;
  color: #ded6d6;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.nft-creator {
  font-size: 1.6rem;
  color: #ded6d6;
  margin-bottom: 3.2rem;
}

.nft-price-box {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.nft-price-description {
  font-size: 1.2rem;
  color: #b2abab;
  margin-bottom: 1.2rem;
}

.nft-price-ethereum {
  font-size: 1.8rem;
  color: goldenrod;
  margin-bottom: 1rem;
}

.nft-price-dollar {
  font-size: 1.2rem;
}

.nft-button {
  background-color: #ff4500ff;
  font-size: 1.8rem;
  padding: 0.8rem 1.6rem;
}

.nft-button:hover,
.nft-button:active {
  background-color: #dc4b05;
}
