.procedure-section {
  padding: 4.8rem 0;
  backdrop-filter: contrast(80%);
}

.procedure-heading {
  display: block;
  text-align: center;
  margin-bottom: 4.8rem;
}

.procedure-step {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid darkgoldenrod;
  border-radius: 11px;
  box-shadow: 0 0 9.6rem 0.8rem goldenrod;
  background: linear-gradient(113.49deg, #640348 -30.3%, #060649 58.12%);
  text-align: center;
  padding: 1.6rem 2.4rem 2.4rem 2.4rem;
}

.step-icon {
  color: blue;
  backdrop-filter: blur(8px);
  color: darkgoldenrod;
  border-radius: 50%;
  height: 3.2rem;
  width: 3.2rem;
  padding: 1.6rem;
  margin-bottom: 1.2rem;
  pointer-events: none;
}

.step-title {
  font-size: 2.2rem;
  color: #ded6d6;
  font-weight: 700;
  margin-bottom: 2.4rem;
  line-height: 1.2;
}

.step-description {
  font-size: 1.6rem;
  line-height: 1.8;
}
