* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-margin-top: 6.4rem;
}

html {
  font-size: 62.5%;
}

body {
  color: #ded6d6;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  line-height: 1;
  background: linear-gradient(
    45deg,
    #060649,
    #640348,
    #060649,
    #640348,
    #060649,
    #640348
  );
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 2.4rem;
}

.grid-2-cols {
  grid-template-columns: 2fr 1fr;
}

.grid-2-cols-2-rows {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  row-gap: 0.8rem;
  align-items: center;
  justify-items: start;
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #ded6d6;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
}

.heading-tertiary {
  font-size: 3.6rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.btn,
.btn:link,
.btn:visited {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s;
  cursor: pointer;
  border: none;
}

.btn-full:link,
.btn-full:visited {
  background-color: #ff4500ff;
}

.btn-full:hover,
.btn-full:active {
  background-color: #dc4b05;
}

.btn-outline:link,
.btn-outline:visited {
  border: 3px solid #ff4500ff;
  padding: 1.3rem 2.9rem;
}

.btn-outline:hover,
.btn-outline:active {
  color: #ff4500ff;
}

.link-to-top {
  color: #fff;
  padding: 0.8rem 0.8rem;
  border-radius: 9px;
  background-color: rgba(255, 69, 0, 0.5);
  transition: all 0.3s;
  cursor: pointer;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: none;
}

.link-to-top:hover,
.link-to-top:active {
  color: #060649;
}

.logo-to-top {
  width: 3.2rem;
  height: 3.2rem;
}

.margin-bottom {
  margin-bottom: 2.4rem;
}

hr {
  opacity: 30%;
  margin-bottom: 2.4rem;
}

/* ########################################################################## */
/* MODAL STYLING */

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  backdrop-filter: blur(15px);
  justify-content: center;
  align-items: center;
  -webkit-animation: pop-in 0.5s;
  -moz-animation: pop-in 0.5s;
  -ms-animation: pop-in 0.5s;
}

@-webkit-keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes pop-in {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-nav-icons {
  display: flex;
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
}

.modal-go-back,
.modal-close {
  color: #b2abab;
  width: 3.2rem;
  height: 3.2rem;
}

.modal-go-back:hover,
.modal-close:hover,
.modal-go-back:active,
.modal-close:active {
  color: #ff4500ff;
  text-decoration: none;
  cursor: pointer;
}

.flip-container {
  width: 100rem;
  height: 55rem;
  perspective: 1000px;
}

.flip-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  position: relative;
}

.is-flipped {
  transform: rotateY(180deg);
}

.hidden {
  display: none;
}
