.hero-section {
  /*padding: 4.8rem 0 9.6rem 0;*/
  padding: 4.8rem 0 9.6rem;
  backdrop-filter: contrast(70%);
}

.hero-container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-btn-box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 8rem;
}

.hero-stats-box {
  display: flex;
  align-items: center;
  gap: 9.6rem;
}

.stats-text,
.stats-value {
  color: goldenrod;
  font-size: 2.4rem;
  font-weight: 600;
  /*background: -webkit-linear-gradient(113.49deg, #ffedc0, #e86108);*/
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
}

.hero-img-box {
  justify-self: center;
}

.hero-img {
  transform: scale(1.2);
  /*animation: bounce 1s infinite alternate;*/
}

/*@keyframes bounce {*/
/*  0% {*/
/*    transform: translateY(0);*/
/*  }*/
/*  100% {*/
/*    transform: translateY(-10px);*/
/*  }*/
/*}*/
