.modal-container {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Can show or hide scroll*/
  backdrop-filter: blur(15px);
  /*backdrop-filter: grayscale(80%);*/
  justify-content: center;
  align-items: center;
  /*transition: all 5s ease-in;*/
}

.modal-close {
  color: goldenrod;
  /*display: block;*/
  /*float: right;*/
  font-size: 3.2rem;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  /*transform: translate(-150%, 25%);*/
}

.modal-close:hover,
.modal-close:focus {
  color: #ff4500ff;
  text-decoration: none;
  cursor: pointer;
}

/*/////////////////////////////////////////////////////*/
.modal-content {
  /*transition: all 5s ease-in;*/
  width: 40rem;
  height: 55rem;
  overflow: hidden;
  background-color: rgba(6, 6, 73, 0.8);
  border-radius: 11px;
  box-shadow: 0 0 5rem #000;
  border: 3px solid red;
  position: relative;
}

#chk {
  display: none;
}

/*/////////////////////////////////////////////////////*/
.modal-signup {
  /*position: relative; NOT NEEDED?*/
  width: 100%;
  height: 100%;
}

label {
  color: rgba(255, 255, 255, 0.8);
  font-size: 4.4rem;
  font-weight: 700;
  margin: 4.8rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

input {
  width: 60%;
  height: 3.2rem;
  background: #ded6d6;
  font-size: 1.8rem;
  font-family: inherit;
  display: flex;
  justify-content: center;
  margin: 2.4rem auto;
  padding: 1.2rem;
  border: none;
  outline: none;
  border-radius: 9px;
}

.modal-form-btn {
  width: 40%;
  outline: none;
  border: none;
  display: block;
  margin: 3.2rem auto;
  padding: 1.2rem;
  background: #ff4500ff;
}

/*/////////////////////////////////////////////////////*/
.modal-login {
  height: 100%;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-30%);
  transition: 0.5s ease-in-out;
}

.modal-login label {
  color: #573b8a;
  transform: scale(0.5);
  padding-top: 1.2rem;
}

/*/////////////////////////////////////////////////////*/
/* WHEN CHECKED */
#chk:checked ~ .modal-login {
  transform: translateY(-100%);
}

#chk:checked ~ .modal-login label {
  transform: scale(1);
}

#chk:checked ~ .modal-signup label {
  transform: scale(0.5);
}
