.artwork-modal-content {
  /*transition: all 5s ease-in;*/
  /*width: 500rem;*/
  /*height: 40rem;*/
  background-color: rgba(6, 6, 73, 0.8);
  border-radius: 11px;
  /*box-shadow: 0 0 5rem #000;*/
  /*box-shadow: 0 0 8rem goldenrod;*/

  display: flex;
  /*flex-basis: 100rem;*/
  gap: 3.2rem;
  /*box-shadow: 0 0 4.8rem gold;*/
  /*flex-shrink: 1;*/
  /*flex-grow: 1;*/
  /*transition: all 3s ease-in-out;*/

  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: rotateY(0deg);
}

.modal-nft-img {
  /*width: 100%;*/
  /*height: 100%;*/
  width: 40rem;
  /*object-fit: cover;*/
  border-radius: 11px;
  /*box-shadow: 0 0 6.4rem rgb(0, 0, 0);*/ /*CAUSE BUG WHEN FLIPPING CARD!!*/
  transform: scale(1.1);
  transition: all 0.4s;
}

.modal-nft-img:hover {
  transform: scale(1.15);
}

.modal-nft-info {
  /*padding: 3.2rem 4.8rem 4.8rem 4.8rem;*/
  padding: 4.8rem 6rem 4.8rem 4.8rem;
  /*text-align: center;*/
}
/*/////////////////////////////////////////////////*/
.modal-nft-name {
  font-size: 4.4rem;
  color: #ded6d6;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.modal-nft-creator {
  font-size: 2.4rem;
  color: #ded6d6;
  margin-bottom: 4.8rem;
}

.modal-creator-link:link,
.modal-creator-link:visited {
  text-decoration: none;
  color: goldenrod;
  transition: all 0.3s;
}

.modal-creator-link:hover,
.modal-creator-link:active {
  color: darkgoldenrod;
}
/*/////////////////////////////////////////////////*/
/*.modal-nft-quantities {*/
/*  font-size: 2rem;*/
/*  margin-bottom: 3.2rem;*/
/*  display: flex;*/
/*  gap: 2.4rem;*/
/*  justify-content: space-evenly;*/
/*}*/

/*.modal-nft-quantity {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  gap: 1.2rem;*/
/*}*/
/*/////////////////////////////////////////////////*/
.nft-description {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 2.4rem;
}

.nft-description-label {
  font-size: 1.6rem;
  color: #b2abab;
}

.nft-description-text {
  font-size: 1.6rem;
}
/*/////////////////////////////////////////////////*/
.modal-nft-sale {
  /*flex-direction: column;*/
  /*gap: 1.6rem;*/
  display: grid;
  margin-bottom: 2.4rem;
}

.nft-prices-label {
  font-size: 1.6rem;
  color: #b2abab;
  /*margin-bottom: 1.2rem;*/
}

.nft-prices {
  grid-row: 2 / -1;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.nft-modal-price-ethereum {
  font-size: 2.4rem;
  color: goldenrod;
}

.nft-modal-price-dollar {
  font-size: 1.6rem;
}

.modal-nft-time {
  grid-row: 2 / -1;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  /*flex-grow: 1;*/
  gap: 0.8rem;
  /*justify-content: center;*/
}

.modal-nft-time svg {
  width: 2.4rem;
}

.timer {
  color: red;
}

.modal-btn-box {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
}

.btn-buy {
  background-color: #ff4500ff;
  padding: 1.2rem 1.6rem;
  width: 20rem;
}

.btn-favorites {
  padding: 0.9rem 1.3rem;
  background-color: transparent;
  border: 3px solid #ff4500ff;
  outline: none;
  width: 20rem;
}
/*/////////////////////////////////////////////////*/
.modal-nft-stats {
  font-size: 1.6rem;
  display: flex;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
}

.modal-nft-stat {
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  gap: 0.8rem;
  /*flex-grow: 1;*/
}

.modal-nft-icon {
  width: 2.2rem;
  height: 2.2rem;
}
/*/////////////////////////////////////////////////*/
.border-glow {
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 8rem 3rem darkgoldenrod;
  }

  to {
    box-shadow: 0 0 8rem 3rem goldenrod;
  }
}
